/* 기본적인 스타일을 위한 수정 */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 전체 컨테이너를 flex로 설정 */
.cartContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* flex를 사용해 콘텐츠 영역을 확장 */
.cartContent {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* 나머지 스타일 그대로 유지 */
.cartProducts {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cartProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    /* margin-bottom: 10px; */
}

.cartProduct span {
    flex: 1;
    text-align: center;
}

.cartSummary {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    margin-left: 20px;
    border-radius: 5px;
}

.purchaseButton {
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.purchaseButton:hover {
    background-color: darkred;
}

.removeButton {
    background-color: #ff4d4d;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.removeButton:hover {
    background-color: #cc0000;
}
