.AccountDelete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 화면 전체 높이로 설정 */
}

.AccountDelete-form {
    text-align: center;
    border: 1px solid #ccc;
    padding: 100px;
    border-radius: 10px;
}

.AccountDelete-input {
    display: flex;
    flex-direction: column;
}

.AccountDelete-btn {
    display: flex;
    flex-direction: column;
}

.AccountDelete-input-element {
    width: 360px;
    height: 48px;
    margin: 10px;
}

.AccountDelete-btn-element {
    width: 368px;
    height: 48px;
    margin: 10px;
}

#AccountDelete-btn-confirm {
    border: 1px solid #ccc;
    background-color: grey;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

#AccountDelete-btn-confirm:hover {
    background-color: #ccc;
    color: grey;
}

#AccountDelete-btn-delete {
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

#AccountDelete-btn-delete:hover {
    background-color: #003580;
    border: 2px solid #003580;
}
